*~
*.pyc
*.pyo
.trelby/
*.trelby
!tests/fixtures/*.trelby
.tox/
MANIFEST
.pybuild/

# virtual environment and IDE stuff
/venv/
/.vscode/
build/*
dist/*
.DS_Store

#Choco
*.nupkg

# Generated build files (created by make dist)
trelby/*.gz
trelby/manual.html
doc/manual.html
doc/*.gz